@import url(./var.css);
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400&family=Poppins:wght@500&display=swap');

.nav {

    background-color: var(--primary-bg);
    color: var(--text-3);
    font-size: 1em;
    font-weight: 700;
}

.nav h1 {

    margin-left: 3vw;
}

.hero {

    background-color: rgb(114, 108, 53);
    justify-content: space-evenly;
    align-items: center;
    height: 65vh;
}

#leading {

    font-family: 'Poppins';
    font-weight: 500;
    color: white;
    font-size: 2.1em;
}

.fc {

    color: yellow;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}

#btn-contact {

    background-color: var(--primary-bg);
    text-align: center;
    color: rgb(240, 227, 227);
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
    width: 66%;
    padding: 6px;
    border: none;
}
#ibtn-contact:hover{
    color: rgb(197, 55, 55);
}
.hero-img {
    width: 34vw;
    height: 45vh;
}

.hero-img img {

    width: 100%;
    height: 100%;
}

.hero-strip {

    background: var(--secondary-text);
    color: rgb(60, 197, 6);
    text-align: center;
    padding: 12px;
}

.superior {

    background-color: var(---bg-3);
    text-align: center;
    /* height: 39vh; */
    padding: 43px 0px 75px 0px;
}

.superior-container {

    justify-content: center;
    align-items: center;
}

.superior-text {
    margin: 20px 0px 67px 0px;
}

.solution {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;

}

.business {

    font-family: 'Poppins';
}

.superior-img-container {
    width: 107px;
    height: 59px;
    margin: 0px 26px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.superior-img-container img {

    width: 60%;
}

.benefits {

    height: 65vh;
    background-color: rgb(74, 180, 65);
    justify-content: space-evenly;
    align-items: center;
    color: var(--text-3);
    position: relative;
}

.business-img {

    width: 23vw;
    height: 40vh;
}

.few-words {

    height: 80vh;
    background-color: rgb(112, 32, 32);
    color: var(--text-3);
    padding: 12px;
    position: relative;
}

.ul-container li {

    list-style: circle;
    font-weight: 500;
    font-family: 'Poppins';
}

.card-container {

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    flex-wrap: wrap;
}

.card {

    width: 28vw;
    gap: 15px;
    justify-content: center;
    padding: 15px;
    margin: 20px;
}

.card-img {
    width: 100px;
    height: 51px;
}

.clients {
    padding: 57px 0px 70px 0px;
    position: relative;
}

.clients-text {
    color: red;
    font-weight: 300;
    font-family: 'Barlow', sans-serif;
}

.clients-img-container {

    justify-content: center;
    align-items: center;
    gap: 38px;
    margin-top: 43px;
}

.img-container {
    width: 234px;
    height: 250px;
}

.img-container img {

    width: 100%;
    height: 100%;
    cursor: pointer;
}

.contact {

    background-color: rgb(9, 187, 127);
    height: 65vh;
    position: relative;
}

.contact-text {

    font-weight: 300;
    font-family: 'Barlow', sans-serif;
}

.input-container {

    margin-top: 27px;
    gap: 35px;
    width: 70vw;
}

.contact input,
textarea {

    border: 2px solid var(--border-1);
    width: 100%;
    border-radius: 4px;
    height: 32px;
    padding: 2px 10px;
}


.contact input:focus,
textarea:focus {

    outline: none;
    box-shadow: 0px 0px 9px var(--border-1);

}

.text-area-container {
    height: 119px;
    width: 32%;
}


.text-area-container textarea {

    width: 100%;
    height: 100%;
    resize: none;
}

.send-button {

    background: var(--primary-bg);
    color: white;
    border: none;
    padding: 6px;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    cursor: pointer;
}

.send-button:hover {

    box-shadow: 0px 0px 4px var(--primary-bg);
}

footer {

    
    background-color: var(--secondary-bg);
    color: var(--text-3);
    padding: 14px;

}